
# Requisits per al projecte de creació automàtica d'informes, ingestió de dades en una BBDD i interfície web per gestionar el projecte

## Llibreries per a la creació d'informes
1. Pandas: Manipulació i anàlisi de dades.
2. ReportLab: Generació de PDFs.
3. Plotly Dash: Creació de dashboards interactius basats en web.
4. Datapane: Creació d'informes interactius en format HTML.
5. Pyreports: Creació d'informes complexos des de diverses fonts.

## Llibreries per a la ingestió de dades
1. Apache Airflow: Orquestració de fluxos de treball i pipelines de dades.
2. Luigi: Construcció i gestió de pipelines de dades.
3. Prefect: Gestió moderna de fluxos de treball de dades.

## Bases de dades (BBDD) per emmagatzemar dades
1. MySQL: Sistema de gestió de bases de dades relacionals.
2. PostgreSQL: Robustesa i característiques avançades.
3. MongoDB: Base de dades NoSQL per a dades no estructurades.
4. SQLite: Lleugera i fàcil d'utilitzar, perfecta per aplicacions petites i mitjanes.
5. Microsoft SQL Server: Sistema de gestió de bases de dades relacionals potent.

## Llibreries per a la creació d'interfície web
1. Flask: Framework web lleuger i fàcil d'instal·lar.
2. Django: Framework web d'alt nivell que fomenta el desenvolupament ràpid i el disseny net.
3. Streamlit: Creació d'aplicacions web interactives amb mínim esforç.
4. Dash: Part de Plotly, ideal per a la construcció de dashboards web interactius.
5. NiceGUI: Framework UI basat en Python que es mostra al navegador web, ideal per a micro aplicacions web i dashboards.
